<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MovieTVApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>neu.cs5200.movieTv.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>neu.cs5200.movieTv.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMovieServlet</servlet-name>
    <servlet-class>neu.cs5200.movieTv.movie.SearchMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMovieServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MarkMovieServlet</servlet-name>
    <servlet-class>neu.cs5200.movieTv.movie.MarkMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkMovieServlet</servlet-name>
    <url-pattern>/mark</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateGroupServlet</servlet-name>
    <servlet-class>neu.cs5200.movieTv.group.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateGroupServlet</servlet-name>
  	<url-pattern>/createGroup</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchTvServlet</servlet-name>
    <servlet-class>neu.cs5200.movieTv.tv.SearchTvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTvServlet</servlet-name>
    <url-pattern>/searchTvAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchPeopleServlet</servlet-name>
    <servlet-class>neu.cs5200.movieTv.people.SearchPeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPeopleServlet</servlet-name>
    <url-pattern>/searchPeopleAction</url-pattern>
  </servlet-mapping>
</web-app>